html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font: 400 1em/1.5 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    background-color: hsl(218, 28%, 13%);
    color: #fff;
}

img,
svg {
    width: 100%;
    height: auto;
}

ul {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 1.5rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

h1 {
     font-size: 1.5rem;
}

h2,
h3,
h4 {
    font-size: 1.25rem;
}

p {
    font-size: 0.875rem;
    max-width: 620px;
    margin: 0 0 1.5rem;
}

a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

a:hover {
    color: hsl(198, 60%, 50%)
}

.wrapper {
    width: 100%;
    padding: 0 1.5rem;
    margin: auto;
}

.wrapper--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section {
    padding: 5rem 0;
}

@media screen and (min-width: 1000px) {
    .wrapper {
        width: 90%;
        max-width: 1284px;
        padding: 0;
    }
}

.logo {
    background: url(../images/logo.svg) no-repeat center;
    background-size: 100%;
}

.logo--header {
    width: 80px;
    height: 24px;
}

.logo--footer {
    width: 178px;
    height: 52px;
}

.fancy-link {
    color: hsl(176, 68%, 64%);
    position: relative;
    display: inline-block;
    margin: 0 0 1.5rem;
    padding: 0 2rem 0 0;
    font-size: .75rem;
}

.fancy-link::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -3rem;
    background-color: hsl(176, 68%, 64%)
}

.fancy-link::before {
    content: "";
    position: absolute;
    right: 0;
    background: url(../images/icon-arrow.svg) no-repeat center;
    width: 18px;
    height: 18px;;
}

.stay-productive-img {
    margin: auto;
    width: 100%;
    max-width: 615px;
}

